@import url('https://fonts.googleapis.com/css?family=Mukta');
body{
  font-family: 'Mukta', sans-serif;
	height:100vh;
	min-height:550px;
	background-image: url("/img/Gas_station.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
	position:relative;
    overflow-y: hidden;
}
a{
  text-decoration:none;
  color:#ffffff;
}


.wrapper{

	align-items: stretch;

}

.bg-background{
    background-color: rgba(73, 4, 4, 0.9);
}