body{
    background-color: blue;
    margin: 0;
    padding: 0;
    border: 0;
}

#register{
    background-color:yellowgreen;
    margin-top: 20vh;
    margin-left: 35vw;
    width: 30vw;
    height: 60vh;
}
#registerh1{
    margin: auto;
    font-size: 42px;
}


#message {
    display:none;
    color: #000;
    position: relative;
    float:right;
    padding: none;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 10px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }